/*defauly */
.headersection {background: #ca932f none repeat scroll 0 0;}
.icon a {background: #a56e0a none repeat scroll 0 0;}
.searchbtn input[type="text"] {border: 1px solid #E6AF4B;background: #FFE07C;}
.searchbtn input[type="submit"] {
	border: 1px solid #E6AF4B;
}
.searchbtn input[type="submit"]:hover{background: #e5ae4a none repeat scroll 0 0;border: 1px solid #E6AF4B;}
.navsection {background: none repeat scroll 0 0 #e6af4b;}
.navsection ul li {border-left: 1px solid #fdc662;border-right: 1px solid #c18a26;}
.samepost h2 a{color: #ac7511;}
.maincontent, .sidebar{background: #fef4e5 none repeat scroll 0 0;border: 1px solid #ded4c5;}
.samepost img {background: #fff none repeat scroll 0 0;}
.contentsection {border: 1px solid #ca932f;}
.samesidebar h2 {background: #e6af4b none repeat scroll 0 0;}
.footersection {background: #B7801C;}
.readmore a {border: 1px solid #b7801c;color: #b7801c;}
.pagination a {background: #b7801c;}
.footermenu ul li a {color: #E6AF4B;}
.samepost h2, .about h2 {color: #ac7511;}

